version: "3.4"
services:
  reverseproxy:
    build: ./ReverseProxy
    ports:
      - 80:80
  api:
    depends_on:
      - reverseproxy
      - azure-storage
      - inkliodb
    build: ./Services/Inklio.Api
    env_file:
      - .env
  auth:
    depends_on:
      - reverseproxy
      - inkliodb
    build: ./Services/Inklio.Auth
    env_file:
      - .env
  web:
    depends_on:
      - reverseproxy
      - auth
      - api
    build: ./Web/inklio
    restart: always
  azure-storage:
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    image: mcr.microsoft.com/azure-storage/azurite
  inkliodb:
    build: ./Services/Inklio.Sql
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=SuperSecret-1