/* Body and background */
body {
  background-color: #3a3b3c;
  color: #e4e6eb;
  padding-top: 44px;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #1a1a1a;
  color: #e4e6eb;
  padding: 20px;
}

/* Navigation */
nav {
  background-color: #171717;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 400px;
  font-size: x-large;
}

nav a {
  color: #e4e6eb;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav a:hover {
  background-color: #545353;
}

/* Main content */
main {
  padding: 40px;
}

/* Links */
a {
  color: #bb86fc;
  text-decoration: none;
}

a:hover {
  color: #caa5f7;
}

/* Buttons */
button {
  background-color: #caa5f7;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b295d7;
}

/* Form elements */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  background-color: #4d4d4d;
  color: #e4e6eb;
  border: 1px solid #ffffff;
  padding: 10px;
  margin-right:15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #bb86fc;
}

/* Footer */
footer {
  background-color: #1a1a1a;
  color: #e4e6eb;
  text-align: center;
  padding: 10px;
}

.form-error {
  background-color: #310a0a;
  border: 1px solid #b89292;
  border-radius: 4px;
  padding: 5px;
  white-space: nowrap;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
}